body {
    margin: 0 auto;
    padding: 0;
}

.heading_container {
    width: 100%;
    background-color: #110729; 
}

.logo {
    padding: 10px;
    float: left;
}

.cart {
    padding: 25px;
    float: right;
}

h1 {
    margin: 0;
    margin-left: 38%;
    font-family: 'gill sans', sans-serif;
    font-size: 60px;
    color: white;
    padding: 15px;
    font-weight: 600;
}

.contacts_container {
    background-color:#110729;
    height: 500px;
    margin: 30px 200px 0px 200px;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 10px; 
}

.aligned {
    display: flex;
    align-items: center;
    margin-left: 20%; /* centers text in box */
    margin-top: 30px; 
    padding-top: 20px; 
}
  
.text {
    text-decoration: none;
    color: white;
    font-family: 'gill sans', sans-serif;
    padding-left: 50px;
    font-size: 30px; 
    font-weight: 600;
}

a {
    text-decoration: none;
    color: white; 
}




