body {
  margin: 0 auto;
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading_container {
  width: 100%;
  background-color: #110729;
}

.logo {
  padding: 25px;
  float: left;
}

.cart {
  padding: 35px;
  float: right;
}

h1 {
  margin: 0;
  font-family: "gill sans", sans-serif;
  font-size: 60px;
  color: lightblue;
  padding: 15px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  text-align: center;
}

ul {
  font-size: 1.2em;
  display: flex;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  position: relative;
  gap: 30px;
  margin: 0;
  margin: 0 50px 15px 0;
  padding: 0;
}

ul li{
  position: relative;
  list-style: none;
  margin: 0 10px;
}

ul li a {
  position: relative;
  text-decoration: none;
  line-height: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px #ffffffcb;
}

ul li a::before {
  padding-top: 1px;
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 0.7s;
  border-right: 3px solid var(--clr);
  -webkit-text-stroke: 1px var(--clr);
}

ul li a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 25px var(--clr));
}

footer {
  text-align: center;
  color: lightblue;
  background-color: #110729;
  bottom: 0;
  left: 0;
  padding: 5px;
  width: auto;
  text-align: center;
  position:relative;

}

#contact-form {
  text-align: center;
}
