main { 
    text-align: center;
    font-size: large;
}

.card {
    background-color: #adbbdc;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 #00000033;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.card img {
    height: 200px;
    width: 100%;
}

.card h3 {
    margin: 0;
    padding: 10px 0;
}

.card p {
    color: #110729;
    font-size: 14px;
    margin: 0;
    padding: 10px 0;
}

.btn {
    background-color: #52803f;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
}